{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": ["standard", "standard-jsx"],
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "classes": true,
      "jsx": true
    },
    "sourceType": "module"
  }
}
